.questions-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5625rem 0.25rem;

    &__title {
        margin-bottom: 1rem;
        line-height: 1.25;
        letter-spacing: -0.1px;
        text-align: center;
    }

    &__paragraph {
        margin-bottom: 2.6875rem;
        padding: 0 0.25rem;
        color: var(--grayish-blue);
        font-size: 0.9125rem;
        line-height: 1.72;
        letter-spacing: 0.2px;
        text-align: center;
    }

    &__link-container {
        width: 7.125rem;
    }
}
