@use '../../styles/abstracts/variables' as *;

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1120px;
    width: 100%;

    &__image-container {
        position: relative;
        margin-bottom: 2.625rem;
    }

    &__background-container {
        position: absolute;
        top: 3.5rem;
        left: 3.6875rem;
        border-top-left-radius: 6.375rem;
        border-bottom-left-radius: 6.375rem;
        width: 100vw;
        height: 12.6875rem;
        background-color: var(--soft-blue);
        z-index: 1;
    }

    &__image {
        position: relative;
        max-width: 22rem;
        z-index: 2;
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0.25rem;
    }

    &__title {
        margin-bottom: 1.0625rem;
        font-size: 1.875rem;
        text-align: center;
        line-height: 1.32;
        letter-spacing: -0.1px;
    }

    &__paragraph {
        margin-bottom: 2rem;
        color: var(--grayish-blue);
        font-size: 0.9125rem;
        line-height: 1.7;
        letter-spacing: 0.18px;
        text-align: center;
    }

    &__links-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        & >:first-child {
            margin-right: 0.875rem;
        }
    }

    &__link-container {

        &--chrome {
            width: 9.4375rem;
        }

        &--firefox {
            width: 9.125rem;
        }
    }
}

@media screen and (min-width: 48em) {
    .hero-section {

        &__background-container {
            top: 4.5rem;
            left: 9rem;
            border-top-left-radius: 9rem;
            border-bottom-left-radius: 9rem;
            height: 17rem;
        }

        &__image {
            min-width: 29rem;
        }
    }
}

@media screen and (min-width: 60em) {
    .hero-section {
        flex-direction: row-reverse;

        &__image-container {
            width: 100%;
            margin-bottom: 0;
            margin-top: 0.5rem;
        }

        &__image {
            min-width: 28rem;
        }

        &__content-container {
            align-items: start;
            margin-top: -0.4375rem;
            margin-right: 1rem;
            padding: 0 1.75rem 0 0.3125rem;
        }

        &__title {
            margin-bottom: 1.25rem;
            font-size: 2.75rem;
            text-align: left;
            line-height: 1.1;
            letter-spacing: -0.175px;
        }
    
        &__paragraph {
            margin-bottom: 1.75rem;
            font-size: 1.0625rem;
            line-height: 1.55;
            letter-spacing: 0px;
            text-align: left;
        }

        &__links-container {
            justify-content: start;
    
            & >:first-child {
                margin-right: 0.875rem;
            }
        }

        &__link-container {

            &--chrome {
                width: 10.4375rem;
            }
    
            &--firefox {
                width: 10.125rem;
            }
        }
    }
}

@media screen and (min-width: 72em) {
    .hero-section {

        &__background-container {
            top: 6rem;
            left: 11rem;
            height: 22rem;
            border-top-left-radius: 11rem;
            border-bottom-left-radius: 11rem;
        }

        &__image {
            max-width: 38rem;
            margin-right: -2.25rem;
        }

        &__content-container {
            align-items: start;
            margin-top: -0.4375rem;
            padding: 0 1.75rem 0 0.3125rem;
        }

        &__title {
            margin-bottom: 1.5rem;
            font-size: 3rem;
        }
    
        &__paragraph {
            margin-bottom: 2rem;
            font-size: 1.125rem;
        }
    }
}

@media screen and (min-width: 90em) {
    .hero-section {

        &__background-container {
            top: 8.9375rem;
            left: 12.125rem;
            height: 22rem;
        }

        &__image-container {
            margin-right: -6.75rem;
        }

        &__image {
            max-width: 41rem;
        }
    }
}
