// transition time variables
$transition-time-fast: 0.25s;
$transition-time-medium: 0.5s;

// border radius variables
$border-radius-small: 0.25rem;
$border-radius-medium: 0.5rem;
$border-radius-large: 0.75rem;
$border-radius-50: 50%;
