.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: -1.0625rem;
    padding: 4.0625rem 2rem 3.6875rem 2rem;
    background-color: var(--soft-blue);
    color: var(--gray);
    text-align: center;

    &__wrapper {
        max-width: 1440px;
    }

    &__span {
        font-size: 0.8125rem;
        font-weight: 500;
        letter-spacing: 4px;
    }

    &__title {
        margin-top: 0.5625rem;
        margin-bottom: 2rem;
        font-size: 1.4375rem;
        line-height: 1.21;
        letter-spacing: 0.3px;
    }
}
