.hamburger-button {
    padding: 0.25rem;
    z-index: 5;

    &:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 60em) {
    .hamburger-button {
        display: none;
    }
}
