@use '../../styles/abstracts/variables' as *;

.main-navigation {
    position: relative;
    width: 100%;
    padding: 0.3125rem 2.125rem 0 2rem;
    z-index: 5;

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list-item {
        width: 100%;
        border-top: 0.0625rem solid var(--grayish-blue-alpha);
        padding: 0.25rem;
        font-size: 1.25rem;
        text-align: center;
        letter-spacing: 2px;

        & > a {
            display: inline-block;
            width: 100%;
            padding: 0.75rem 0 0.8125rem 0;
            color: white;
        }
    }

    &__login-link-container {
        width: 100%;
        padding: 1.5rem 0;
        border-top: 0.0625rem solid var(--grayish-blue-alpha);
        text-align: center;
    }

    &__login-link {
        display: inline-block;
        width: 100%;
        padding: 0.375rem 0;
        border: 0.125rem solid var(--white);
        border-radius: $border-radius-small;
        font-size: 1.25rem;
        color: white;
        letter-spacing: 2.75px;
    }
}

@media screen and (min-width: 60em) {
    .main-navigation {
        display: flex;
        padding: 0;

        &__list {
            flex-direction: row;
            margin-right: 2.5rem;

            & >:not(:last-child) {
                margin-right: 1.875rem;
            }

            & >:first-child {
                margin-right: 1.625rem;
            }
        }

        &__list-item {
            padding: 0;
            border: none;
            font-size: 0.8125rem;
            letter-spacing: 1.6px;

            & > a {
                padding: 0.25rem 0.5rem;
                color: var(--very-dark-blue);
                transition: all $transition-time-fast ease-in-out;

                &:hover {
                    color: var(--soft-red);
                }
            }
        }

        &__login-link-container {
            padding: 0;
            border: none;
        }
    
        &__login-link {
            width: auto;
            padding: 0.5625rem 1.875rem 0.5rem 1.9375rem;
            border-color: var(--soft-red);
            background-color: var(--soft-red);
            color: var(--gray);
            font-size: 0.75rem;
            font-weight: 500;
            letter-spacing: 2px;
            transition: all $transition-time-fast ease-in-out;

            &:hover {
                background-color: var(--white);
                color: var(--soft-red);
            }
        }
    }
}
